# Database config (PostgreSQL)
DB_USER=admin
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=warehouse

# S3/MinIO Config for Raw Storage
S3_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=talentpulse-raw

# Orchestration Config
PREFECT_API_URL=http://127.0.0.1:4200/api
